<ion-view view-title="Contact Us">
<ion-nav-bar class="bar-balanced">		
        <ion-nav-buttons side="left"> 
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button> 
			<a class="button button-clear icon-left ion-arrow-left-c" ng-click="myGoBack()"></a>
		</ion-nav-buttons>
        <ion-nav-buttons side="right"> <button class="button icon-right button-icon button-clear {{newdataindicator}}" ng-click="doRefresh()"></button>
            <!--<a class="button icon-right button-icon button-clear ion-ios-pulse-strong blink ion-record"></a>--><button class="button icon-right button-icon button-clear ion-android-more-vertical" ng-click="openPopover($event)"> </button> </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content>
	<div class="card">			
		<div class="row">
			<div class="col colcentered positive" >श्री स्वामी समर्थ शेतकरी गट, वाल्हे, पुरंदर, पुणे 
			</div>
		</div>
		<div class="row">
			<div class="col colcentered">शेतकरी आठवडी बाजार प्रकल्प 
			</div>
		</div>
	</div>
	<div class="card">
	<ion-list class="">

    <a class="item item-avatar">
      <img src="img/NarendraPawar.jpg">
      <h2>Narendra Pawar (9999999999)</h2>
      <p>MBA (Finance &amp; Marketing), Purandar, Pune</p>
    </a>
	 <a class="item item-avatar">
      <img src="img/GaneshSawane.jpg">
      <h2>Ganesh Sawane (9999999999)</h2>
      <p>MBA (Marketing), Indapur, Pune</p>
    </a>
	<a class="item item-avatar">
      <img src="img/Debrie.png">
      <h2>Tushar Agarwal (9999999999)</h2>
      <p>MBA (IB), Buldhana</p>
    </a>
	<a class="item item-avatar">
      <img src="img/Debrie.png">
      <h2>Ruturaj Jadhav (9999999999)</h2>
      <p>MBA (HR), Baramati, Pune</p>
    </a>
	<a class="item item-avatar">
      <img src="img/Debrie.png">
      <h2>Rajesh Mane (9999999999)</h2>
      <p>MMM (Marketing), Latur</p>
    </a>
	</ion-list>
	</div>
	
	</ion-content>
	
</ion-view>