<ion-view hide-nav-bar="true">
    <ion-nav-buttons side="left"></ion-nav-buttons>
    <ion-nav-buttons side="right"></ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item-image"> <img src="img/banner.jpg"> </div>
            <div class="list list-inset"> <label class="item item-input">
				<input type="text" placeholder="User Name" ng-model="username">
			</label> <label class="item item-input">
				<input type="password" placeholder="Password" ng-model="password">
			</label> </div>
            <div class="row">
                <div class="col text-center"> <button class="button button-block button-positive" ng-click="login(username,password,url)">Login </button> </div>
            </div>
            <div class="row">
                <div class="col text-center item-image assertive"> <label>{{errmsg}}</label> </div>
            </div>
        </div>
		<div class="card">
            <div class="item-image"> <img src="img/marketday.png"> </div>
            
        </div>
    </ion-content>
</ion-view>